{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Activities</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <a href="{% url 'data:create_activity' %}" class='btn btn-primary'>Add New Item</a>
    </div>
  </div>
</div>

<div class="container">
{% if object_list %}
<table class="table table-striped">
  <thead>
    <tr>
        <th>pk</th>   
        <th>Activity</th> 
        <th>Dataset</th> 
        <th>Created By</th>
        <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {% for i in object_list %}
    <tr>
        <td>{{ i.pk }}</td>
        <td>{{ i.activity.id }}</td>
        <td>{{ i.activity.dataset.name }}</td>
        <td>{{ i.activity.created_by }}</td>
        <td>{{ i.activity.created_at }}</td>
    </tr>
  </tbody>
    {% endfor %}
</table>
{% else %}
<p>There are no data entries. Please return to the dataset page and create a new activity.</p>
{% endif %}

</div>
{% endblock %}